<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <%- include( 'partials/navbar' ) %>

    <h1>Welcome to the Home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Debitis saepe, tempora repellendus voluptates ab, dicta 
        dignissimos quas necessitatibus enim, totam hic quidem! 
        Quas odio corporis distinctio voluptatum voluptate aspernatur 
        deleniti.</p>
        
    <p>Amet accusamus sint officia nihil deserunt, quas 
        libero veniam excepturi eaque, assumenda porro blanditiis 
        expedita rerum officiis! Minima, excepturi quidem eos dolore 
        illum rem et omnis voluptatum quo earum nobis!</p>

    <p>Amet accusamus sint officia nihil deserunt, quas 
        libero veniam excepturi eaque, assumenda porro blanditiis 
        expedita rerum officiis! Minima, excepturi quidem eos dolore 
        illum rem et omnis voluptatum quo earum nobis!</p>
</body>
</html>